body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #EDEDED;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.top-bar {
    position: relative;
    background-color: rgb(230, 230, 230);
    display: flex;
    text-align: center;
    width: 100%;
}

.top-bar .title {
    margin-left: 20px;
}

.hotline {
    display: flex;
    position: absolute;
    right: 20px;

}   
.hotline a {
    color: black;
    padding: 10px;
    margin: 10px;
}

.hotline a:hover {
    color: red;
}

.hotline .red-hotline{
    color: red;
    margin-left: 5px;
}

.top-logo-bar{
    background-color: #FEFEFE;
    height: 80px;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}
.top-logo-bar a{
    width: 300px;
    height: 80px;
    margin-left: 40px;
}

.top-logo-bar img {
    width: 100%;
    height: 100%;
}

.top-logo-bar .search-input{
    position: absolute;
    width: 500px;
    height: 30px;
    right: 20px;
}

.menu-bar{
    width: 100%;
    height: 50px;
    background-color: #0582B1;
    position: relative;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.menu-bar ul {
    display: flex;
    
    align-items: center;
    height: 100%;
    width: 800px;
}

.menu-bar li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100%;
}

.menu-bar li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.menu-bar span {
    display: inline;
    color: white;
    font-weight: bold;
    background-color: #0582B1;
}

.menu-bar a:hover {
    background-color: #2973b9;
}

.menu-bar a.selected {
    width: 200px;
}

.menu-bar a.selected, .menu-bar a.selected span {
    background-color: #65B83C;
}


.menu-bar .login-bar{
    position: absolute;
    right: 20px;
    display: flex;
    align-items: center;
    height: 100%;
    color: white;
}

.login-bar a {
    color: white;
}

.login-bar a:hover {
    color: red;
}

.login-bar span {
    margin: 0 10px;
}

main {
    width: 100%;
}

.ad-container{
    width: 100%;
}

.ad{
    height: 400px;
    background-color: white;
    border: 20px solid #EBEBEB;
}

.ad .ad-top h3 {
    color: #007AAD;
}

.ad .ad-top{
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #65B83C;
    margin-bottom: 20px;
}

.ad .ad-top a {
    right: 40px;
    position: absolute;
    color: black;
}

.ad .ad-top a:hover {
    color: red;
}


.ad .ad-top p {
    position: absolute;
    right: 20px;
    margin-left: 15px;
    font-weight: 550;

}
.ad .ad-top a:hover p {
    color: red;
    
}

.ad .ad-bottom {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    height: 300px;
    overflow: hidden;
}

.ad .ad-bottom .product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #464646;
    border-radius: 5px;
    margin: 0 20px;
}

.ad .ad-bottom .product .product-image {
    width: 80%;
        height: 150px;
}

.ad .ad-bottom .product img{
    width: 100%;
    height: 100%;
}

.ad .ad-bottom .product h5 {
    color: black;
    text-align: center;
    margin: 10px 0;
}

.ad .ad-bottom .product .price {
    display: flex;
}


.ad .ad-bottom .product button {
    margin-top: 5px;
    cursor: pointer;
    background-color: #0582B1;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 5px;
}

.price p{
    margin: 5px 20px;
}

.price .sale{
    font-size: 16px;
    color: red;
}

.price .unsale {
    font-size: 14px;
}


